.placar input {
	width: 30px;
}
.placar .time-casa {
	text-align: right;
}
.placar td {
	padding: 2px;
}

.placar .data-jogo {
	border-bottom: 1px solid #ddd;	
}

.placar .data-jogo td {
	margin-top: 50px;
}

.center {
	text-align: center;
}